MasterThesis/x64/
MasterThesis/CIFem/x64/
MasterThesis/CIFem_grasshopper/obj/
MasterThesis/MasterThesis.VC.opendb
MasterThesis/CIFem/Debug/
MasterThesis/Debug/
MasterThesis/CIFem_wrapper/x64/
MasterThesis/ipch/
MasterThesis/Sandbox/x64/
MasterThesis/MasterThesis.sdf
MasterThesis/CS_Sandbox/bin/
MasterThesis/CS_Sandbox/obj/
MasterThesis/CIFem/ClassDiagram.cd
MasterThesis/CIFem/Element3d.h.orig
MasterThesis/CIFem/Element3d_BACKUP20160310.h
MasterThesis/CIFem_grasshopper/CIFem_grasshopper.csproj.orig
*.orig
MasterThesis/CIFem/ClassDiagram1.cd
MasterThesis/CIFem_grasshopper/Components/CrossSectionPropertiesComponent.cs
MasterThesis/CIFem_grasshopper/bin/CIFem_grasshopper.dll.CodeAnalysisLog.xml
MasterThesis/CIFem_grasshopper/bin/CIFem_grasshopper.dll.lastcodeanalysissucceeded
MasterThesis/Thesis_report_20160512_Carl_Isak.pdf
