MasterThesis/x64/
MasterThesis/CIFem/x64/
MasterThesis/CIFem_grasshopper/obj/
MasterThesis/MasterThesis.VC.opendb
MasterThesis/CIFem/Debug/
MasterThesis/Debug/
MasterThesis/CIFem_wrapper/x64/
MasterThesis/ipch/
MasterThesis/Sandbox/x64/
